* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}